/*tabla */

#anchopais{
	width:60px;
	}
#anchoempresa{
	width:350px;
	}
#anchodelegado{
	width:25px;
}
#anchoimandato{
	width:80px;
}
#anchofmandato{
	width:80px;
}

/*formulario*/

.nombre ,.apellido ,.cuil ,.sexo ,.fnac ,.pais ,.tipodoc ,.dni ,.civil 
,.calle ,.num ,.piso ,.depto ,.prov ,.cp ,.telparticular ,.tellaboral ,.movil
,.email ,.cuotasindical ,.nbsindical ,.osoc ,.nbosoc ,.discapacidad ,.cad ,.estudios 
,.obs ,.fingresoempresa ,.legajo ,.cat ,.del ,.fechaInicioMandato ,.fechaFinMandato ,.subcat ,.localidad 
,.padron ,.cuit ,.razon_soc ,.telcomercial ,.casa ,.circ ,.tipo_empleador ,.manzana ,.edificio ,.seccion 
,.circunscripcion{
	text-align: right;
	width:200px;
}

form{
	padding-left:90px;
	margin-top:20px;
}
#list-empresa{
	margin-top:160px;
}
#boton_crear_empresa{
	margin-left:173px;
}
#show-empresa ,#edit-empresa{
	margin-top:160px;
}